# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Data #
########
*.root

# Images #
##########
*.png

# Emacs Files #
##############
*~

# Setup Script #
################
*setup.sh
*Setup.sh

# Plots #
#########
plots/*

# InterestingEvents #
#####################
interestingEvents/*

# Links to External Data #
##########################
data/ClaudioData*
data/ClaudioRun03*

# Particular Sets of Interest #
###############################
auxInfo*